$primary-color: #7fdb34;
$secondary-color: #cc952e;
$blanco:white;
$negro:#090909;

body {
    font-family: Arial, sans-serif;
    background-color:$secondary-color;
    color: $blanco;
}

.navbar {
    background-color: $primary-color;
    .nav-link {
        color: $blanco;
        &:hover {
            color: $secondary-color;
        }
    }
}
 
.list-group{
    li{
        color: $negro;
    }

} 
.container {
    margin-top: 20px; 
}

